<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fgouget.dm_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fgouget.dm_android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fgouget.dm_android.LieuActivity" >
        </activity>
        <activity
            android:name="com.fgouget.dm_android.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.fgouget.dm_android.MyMapActivity"
            android:label="@string/title_activity_my_map" >
        </activity>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name="com.fgouget.dm_android.FavorisActivity"
            android:label="@string/title_activity_favoris" >
        </activity>
    </application>

</manifest>